navbar {
    background-color: red;
    color: red;
}
h1{
    color: white;
    
}
.nav{
    background-color: rgb(244, 58, 58);
}
button{
    color: white;
}
.btn{
    background-color: rgb(244, 58, 58);
}
.btnMed{
    background-color: rgb(244, 224, 66);
}
.carrito{
    color: white;
}
.titulo{
    color: red;
}